.Logger__container {
    padding: 10px;
    font-family: monospace;
    background-color: black;
    font-size: small;
    color: #00ff14;
    & > *:nth-child(even) {
        background-color: #171717;
    }
}

.Logger__count__hidden {
    visibility: hidden;
}
